
.orderSummary{
    width: 80vh;
    padding: 1.25rem; 
    box-shadow: 0.1rem 0.08rem 0.1rem 0.12rem #888888;
    box-sizing: border-box;
    margin: 1.25rem auto;
}

.shippingBody{
    width: 80vh;
    padding: 1.25rem;
    box-shadow: 0.1rem 0.08rem 0.1rem 0.12rem #888888;
    box-sizing: border-box;
    margin: 1.25rem auto;

}

.address{
    margin-top: 1rem; 
}

.payment{
    width: 80vh;
    padding: 1.25rem;
    box-shadow: 0.1rem 0.08rem 0.1rem 0.12rem #888888;
    box-sizing: border-box;
    margin: 1.25rem auto;
}

.buttonPay{
    width: 80vh;
    margin: 1.25rem auto; 
}