.ProdCard{
    margin:1.25rem; 
}

.CardsBody{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin: 1.25rem; 
    padding: 1.25rem; 
}

.prodTitle{
    text-decoration-line: none;
    color: #000;
}

.prodTitle:hover{
    text-decoration-line: underline;
}

.addToCart:hover{
    color: blue;
    cursor: pointer; 
}